[submodule "To-do-List---backend"]
	path = backend
	url = https://github.com/Gui-Rigaud/To-do-List---backend.git
[submodule "To-do-List---frontend"]
	path = frontend
	url = https://github.com/Gui-Rigaud/To-do-List---frontend.git
